spring.datasource.url=jdbc:postgresql://postgres_agnostos:5432/${DB_NAME:agnostos_db}
spring.datasource.username=${DB_USER:agnostos_user}
spring.datasource.password=${DB_PASSWORD:password123}
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
github.webhooks.secrets.codid=${GH_CODID_WEBHOOK_SECRET:secret123}
spring.mvc.view.prefix=/WEB-INF/jsp/
spring.mvc.view.suffix=.jsp
springdoc.swagger-ui.path=/api-ui
server.servlet.context-path=/api/v1
